<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Form</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="center-container">
        <h2>Форма поиска</h2>
        <form action="/search" name="search_user" method="GET">
            <input type="text" name="search_user" placeholder="Что ищем?" id="search_user" required>
            <br /><br />
            <button type="submit">Отправить</button>
        </form>
    </div>    
    <script src="/static/js/script.js"></script>
</body>
</html>
